{
  email wokspecialists@proton.me
}

:80 {
  encode zstd gzip

  handle_path /metrics* {
    reverse_proxy bot:8080
  }

  handle_path /healthz* {
    reverse_proxy bot:8080
  }

  handle_path /site* {
    reverse_proxy woksite-website:3000
  }

  reverse_proxy dashboard:8788
}
